#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    height: 400px;
    width: 90vw;
    font-family: "Poppins", serif;
}

#carousel {
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    color: black;
}

#item {
    height: 400px;
}

#subitem {
    background-color: white;
    width: 800px;
    height: 100%;
    margin: auto;
    padding-top: 150px;
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}
